@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #2c3e50;
  color: #ecf0f1;
  }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #ecf0f1; }

::selection {
  color: #ecf0f1;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
margin-bottom: 20px;
  color: #ecf0f1;
  font-family: "Lato", Impact, sans-serif;
    
}

.reveal p {
  font-weight: lighter;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #1abc9c;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #16a085;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #16a085; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #1abc9c; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #1abc9c; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #1abc9c; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #1abc9c; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #16a085; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #16a085; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #16a085; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #16a085; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #16a085;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; }

/* Text styles */

.text-small {
  font-size: .7em !important;
}

.text-large {
  font-size: 1em !important;
}